{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
 <head>
 <meta charset="UTF-8">
 <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
 <title>SOM</title>
 </head>
<body style="background-color:white;">
 <div id="react"></div>
 
<script>
  window.props = {{ props|safe }};
  window.react_mount = document.getElementById('react');
</script>
  {% render_bundle 'main' %}

 </body>
</html>